
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.table{
    display: flex !important;
    padding: 10px;
    margin: 0px;
    justify-content: center;
    gap: 5px;
    /* margin-right: 0; */
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
#logo{
    border-radius: 42%;
    border: 2px solid black;
    font-family: "Aclonica", sans-serif;
    padding: 5px;
    margin-left: 15px;
}
.options{
    margin: 5px;
    padding: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.addTask{
    margin-right: 5%;
}
#addTask{
    /* align-items: center;    */
    margin-top: 50vh;
    padding: 10px;
    border-radius: 15px;
}
.content{
    /* font-size: large; */
    min-height: 500px;
    min-width: 25%;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #f3f3f3;
}
.content-heading{
    text-align: center;
    border-bottom: 0.5px solid #ccc;
    padding-bottom:5px;
}

#heading{
    text-align: center;
    padding-left: 150px;
}

